{% extends "poll/base.html" %}
{% load widget_tweaks %}

{% block title %}Create Poll{% endblock %}

{% block main %}

  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Login Page</h3>
              </div>
              <form method="POST" action="" id="loginform">
                {% csrf_token %}
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="login" required>
                <br>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
                <br>
                <input type="submit" class="fadeIn fourth" value="Log In">
                {% if messages %}

                {% for message in messages %}
                <label>{{ message }}</li></label>
                {% endfor %}
                {% endif %}
                <br>
                <br>
                <br>
            </form> <!-- end of form -->
          </div>
      </div>
  </div>

{% endblock %}
