<html>
<head>
    <!-- Required meta tags -->
  <title>Polls Application</title>
</head>

<body>
    <h1>The List</h1>
    <div >
      <a href="#" >
        Question
      </a>
      {% for item in latest_question_list %}
        <a href="{% url 'detail' item.pk %}" >{{ item.pub_date }}{{ item.questions_text }}</a>
      {% endfor %}
    </div>

    <a href="{% url 'question_form' %}" >Add Question</a>


</body>
</html>
