{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home' %}">Poll Application</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'create' %}">Create</a></li>
						<li><a href="{% url 'email_newsletter' %}">Newsletter</a></li>

						{% if request.user.is_staff %}
							<li><a href="#">{{ request.user.username }}</a></li>
							<li><img src="{{ request.session.display_picture }}" width="30" height="30"></li>
							<li><a href="{% url 'logoutpage' %}">Logout</a></li>

						{% elif request.user.is_authenticated %}
							<li><a href="facebook.com" target="_blank">Gmail</a></li>
							<li><a href="#">{{ request.user.username }}</a></li>
							<li><img style="margin-top:20px;" src="{{ request.session.display_picture }}" width="30" height="30" /></li>
							<li><a href="{% url 'logoutpage' %}">Logout</a></li>
						{% endif %}


					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>

		<div class="container">
			{% block main %}{% endblock %}
		</div>

	</body>
</html>
