{% extends "poll/base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div id="myChart"></div>

<a class="btn btn-secondary" href="{% url 'home' %}">Back to home</a>

{% include "poll/dynamic/chart.html" %}

{% endblock %}
