{% extends "poll/base.html" %}

{% block title %}Vote{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cast Your Vote</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <h2>{{ poll.question }}</h2>
            <input type="hidden" id="poll-id" name="pollId" value="{{ poll.id }}">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <hr />

            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="poll" value="option1" required>
                    {{ poll.option_one }}
                  </label> &nbsp;
                  <label>
                    <input type="radio" name="poll" value="option2">
                    {{ poll.option_two }}
                  </label> &nbsp;
                  <label>
                    <input type="radio" name="poll" value="option3">
                    {{ poll.option_three }}
                  </label> &nbsp;

                  <label>
                    <img src="{{ poll.logo }}" width="100" height="100">
                  </label> &nbsp;
                </div>
              </div>

              <hr />

              <button type="submit" class="btn btn-info">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% include "poll/results.html" %}

{% endblock %}
