<script type="text/javascript">


		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

    var question_ = ""
    var option_1 = ""
    var option_2 = ""
    var option_3 = ""
    var option_one_count_ = ""
    var option_two_count_ = ""
    var option_three_count_ = ""

    var chosen = ""

		buildvote()

		function buildvote(){
			var wrapper = document.getElementById('panel')
      var poll_id = document.getElementById('poll-id')
      console.log(wrapper)
			var url = 'http://127.0.0.1:8000/api/vote-detail/' + poll_id.value

      fetch(url)
      .then((resp) => resp.json())
      .then(function(data){
        console.log('Data:', data)

        var list = data

        question_ = data.question
        option_1 = data.option_one
        option_2 = data.option_two
        option_3 = data.option_three
        option_one_count_ = data.option_one_count
        option_two_count_ = data.option_two_count
        option_three_count_ = data.option_three_count


        var item = `

        <div class="panel panel-default" >
          <div class="panel-heading">
            <h3 class="panel-title">Cast Your Vote</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <h2>${data.question}</h2>
                <input type="hidden" id="poll-id" name="pollId" value="${data.id}">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <hr />

                <form id="form" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="radio">
                      <label>
                        <input type="radio" name="poll" value="option1" required>
                        ${data.option_one}
                      </label> &nbsp;
                      <label>
                        <input type="radio" name="poll" value="option2">
                        ${data.option_two}
                      </label> &nbsp;
                      <label>
                        <input type="radio" name="poll" value="option3">
                        ${data.option_three}
                      </label> &nbsp;
                    </div>
                  </div>

                  <hr />

                  <button type="submit" class="btn btn-info">
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Poll Result</h3>
                    </div>

                    <div class="panel-body">
                        <h3>${data.question}</h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">${data.option_one} &mdash; <strong>${data.option_one_count}</strong></li>
                        <li class="list-group-item">${data.option_two} &mdash; <strong>${data.option_two_count}</strong></li>
                        <li class="list-group-item">${data.option_three} &mdash; <strong>${data.option_three_count}</strong></li>
                    </ul>

                    <div class="panel-footer">
                        Total &mdash; <strong>${data.option_one_count + data.option_two_count + data.option_three_count} </strong>
                    </div>

                </div>
            </div>
        </div>


        `
        console.log(data.question)


        wrapper.innerHTML = item


		})


    // ####### Form
    var form = document.getElementById('panel')
    form.addEventListener('submit', function(e){
      e.preventDefault()
      console.log('Form submitted')
      var poll_id = document.getElementById('poll-id')
      var url = 'http://127.0.0.1:8000/api/vote-api/' + poll_id.value

      var radios = document.getElementsByName('poll');

      for (var i = 0, length = radios.length; i < length; i++) {
        if (radios[i].checked) {
          // do whatever you want with the checked radio

          console.log(radios[i].value)
          chosen = radios[i].value

          // only one radio can be logically checked, don't check the rest
          break;
        }
      }


      if(chosen == 'option1'){
        option_one_count_ += 1;
        console.log(option_one_count_)
      }
      else if(chosen == 'option2'){
        option_two_count_ += 1;
        console.log(option_two_count_)
      }else {
        option_three_count_ += 1;
        console.log(option_three_count_)
      }

      fetch(url, {
        method:'POST',
        headers:{
          'Content-type':'application/json',
          'X-CSRFToken':csrftoken,
        },
        body:JSON.stringify(
          {
            "id": poll_id,
            "question": question_,
            "option_one": option_1,
            "option_two": option_2,
            "option_three": option_3,
            "option_one_count": option_one_count_,
            "option_two_count": option_two_count_,
            "option_three_count": option_three_count_,
          }
        )
      }
      ).then(function(response){
        document.getElementById('form').reset()
        question_ = ""
        option_1 = ""
        option_2 = ""
        option_3 = ""
        option_one_count_ = ""
        option_two_count_ = ""
        option_three_count_ = ""
        buildresult()
      })

    })
  }

  function buildresult(){
    var wrapper = document.getElementById('panel')
    var poll_id = document.getElementById('poll-id')
    console.log(wrapper)
    var url = 'http://127.0.0.1:8000/api/vote-detail/' + poll_id.value

    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      console.log('Data:', data)

      var list = data

      question_ = data.question
      option_1 = data.option_one
      option_2 = data.option_two
      option_3 = data.option_three
      option_one_count_ = data.option_one_count
      option_two_count_ = data.option_two_count
      option_three_count_ = data.option_three_count


      var item = `

      <div class="panel panel-default" >
        <div class="panel-heading">
          <h3 class="panel-title">Cast Your Vote</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <h2>${data.question}</h2>
              <input type="hidden" id="poll-id" name="pollId" value="${data.id}">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <hr />

              <form id="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="poll" value="option1" required>
                      ${data.option_one}
                    </label> &nbsp;
                    <label>
                      <input type="radio" name="poll" value="option2">
                      ${data.option_two}
                    </label> &nbsp;
                    <label>
                      <input type="radio" name="poll" value="option3">
                      ${data.option_three}
                    </label> &nbsp;
                  </div>
                </div>

                <hr />

                <button type="submit" class="btn btn-info">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Poll Result</h3>
                  </div>

                  <div class="panel-body">
                      <h3>${data.question}</h3>
                  </div>

                  <ul class="list-group">
                      <li class="list-group-item">${data.option_one} &mdash; <strong>${data.option_one_count}</strong></li>
                      <li class="list-group-item">${data.option_two} &mdash; <strong>${data.option_two_count}</strong></li>
                      <li class="list-group-item">${data.option_three} &mdash; <strong>${data.option_three_count}</strong></li>
                  </ul>

                  <div class="panel-footer">
                      Total &mdash; <strong>${data.option_one_count + data.option_two_count + data.option_three_count} </strong>
                  </div>

              </div>
          </div>
      </div>


      `
      console.log(data.question)


      wrapper.innerHTML = item


  })
}



	</script>
