{% extends 'polls/base/base.html' %}
{% block content %}

    <h1>Add Question</h1>
    <form action="{% url 'question_form' %}" method="post">
      {% csrf_token %}
      <label>Question Text: </label>{{ form.questions_text }}
      <input type="submit" value="Submit">
    </form>
    <!-- Link to go back to Add Question -->
    <a href="{% url 'index' %}" >Go Back</a>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% endblock %}
