{% extends 'polls/base/base.html' %}
{% block content %}

    <h1>The Detail</h1>
      <div class="form-group">
        <label for="exampleInputEmail1">{{choice.question.questions_text}}</label>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">{{choice.question.pub_date}}</label>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{choice.choice_text}}</label>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{choice.votes}}</label>
      </div>

    <a class="btn btn-dark" href="{% url 'update_choice' choice.id %}" >Update</a>
    <a class="btn btn-danger" href="{% url 'delete_choice' choice.id %}" >Delete</a>
    <a class="btn btn-primary" href="{% url 'index' %}" >Back to List</a>

{% endblock %}















<!-- <a class="btn btn-dark" href="{% url 'update_question' question.pk %}">Update</a>
<a class="btn btn-danger" href="{% url 'delete_question' question.pk %}">Delete</a> -->
