{% extends 'polls/base/base.html' %}
{% block content %}

    <h1>The Detail</h1>
      <div class="form-group">
        <label for="exampleInputEmail1">{{question.pub_date}}</label>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{question.questions_text}}</label>
      </div>

    <a class="btn btn-dark" href="{% url 'update_question' question.pk %}">Update</a>
    <a class="btn btn-danger" href="{% url 'delete_question' question.pk %}">Delete</a>
    <a class="btn btn-primary" href="{% url 'index' %}" >Back to List</a>

{% endblock %}
