{% extends 'polls/base/base.html' %}
{% block content %}

    <h1>The List</h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Question
      </a>
      {% for item in latest_question_list %}
        <a href="{% url 'detail' item.pk %}"
        class="list-group-item list-group-item-action">{{ item.pub_date }}{{ item.questions_text }}</a>
      {% endfor %}
    </div>

    <br>
    <br>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Choice
      </a>
      {% for a in choice %}
        <a href="{% url 'choice_def' a.pk %}"
        class="list-group-item list-group-item-action">{{ a.question.pub_date }}###{{ a.question.questions_text }}###{{ a.choice_text }}###{{ a.votes }}</a>
      {% endfor %}
    </div>

    <!-- Link to go back to Add Question -->
    <a href="{% url 'question_form' %}" >Add Question</a>
    <a href="{% url 'choice_form' %}" >Add Choice</a>

{% endblock %}
