{% extends "poll/base.html" %}

{% block title %}Vote{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <input type="hidden" id="poll-id" name="pollId" value="{{ poll.id }}">

      <h1>Newsletter</h1>

      <form method="POST" action="{% url 'email_newsletter' %}">
          {% csrf_token %}
          <input type="email" name="email" />
          <input type="submit" value="Submit">
      </form>

  </div>
</div>

{% endblock %}
