{% extends "poll/base.html" %}

{% block title %}Vote{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <input type="hidden" id="poll-id" name="pollId" value="{{ poll.id }}">

      <h1>Newsletter</h1>

      <p>Thank you for subscribing in our newsletter. </p>

  </div>
</div>

{% endblock %}
